<!-- Navigation -->
<header id="header" class="tt-nav transparent-header ">
	<div class="header-sticky semi-transparent">
		<div class="container">

			<div id="materialize-menu" class="menuzord">

				<a class="brand logo-brand" href="{{ path('app_home') }}"></a>
				<div id="mobile-menu">
					<div class="nav-wrapper" id="toggle">
						<span class="top"></span>
						<span class="middle"></span>
						<span class="bottom"></span>
					</div>
					{% if app.user %}
					<div class="icon-wrapper">
						<span class="account">
							<a href="{{ path('app_profile') }}">
								<i class="material-icons">&#xE7FD;</i>
							</a>
						</span>
					</div>
					{% endif %}
					<div class="nav-overlay" id="overlay">
						<nav class="overlay-menu">
							<ul>
								<li>
									<a href="{{ path('app_home') }}">Home</a>
								</li>
								<li>
									<a href="{{ path('app_job_offer_index') }}">Jobs Offers</a>
								</li>
								<li>
									<a href="{{ path('app_about') }}">About Us</a>
								</li>
								<li>
									<a href="{{ path('app_contact') }}">Contact</a>
								</li>
								<li>-</li>
								{% if app.user %}
									<li>
										<a href="{{ path('app_profile') }}">Profile</a>
									</li>
									<li>
										<a href="{{ path('app_logout') }}">Logout</a>
									</li>
								{% else %}
									<li>
										<a href="{{ path('app_login') }}">Login</a>
									</li>
									<li>
										<a href="{{ path('app_register') }}">Sign Up</a>
									</li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{% if app.user == null %}
					<ul class="menuzord-menu pull-right light" role="navigation">
						<li class=" dropdown">
							<a target="_self" href="{{ path('app_login') }}">
								<span>Login</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="{{ path('app_register') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
								<span>Sign Up</span>
							</a>

						</li>
					</ul>
					{% endif %}
					<ul class="menuzord-menu pull-right light" role="navigation">
						<li class="active dropdown">
							<a target="_self" href="{{ path('app_home') }}">
								<i class=""></i>
								<span>Home</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="{{ path('app_job_offer_index') }}">
								<i class=""></i>
								<span>Jobs offers</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="{{ path('app_about') }}">
								<i class=""></i>
								<span>About us</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="{{ path('app_contact') }}">
								<i class=""></i>
								<span>Contact</span>
							</a>
						</li>
						{% if app.user %}
							<li>
								<a href="{{ path('app_profile') }}">Profile</a>
							</li>
							<li>
								<a href="{{ path('app_logout') }}">Logout</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
